@media (max-width: $desktop){
    .grid-item-nieuws__headline {
        font-size: 16px;
        line-height: 32px;
    }

    .grid-item-nieuws__button {
        font-size: 12px;
        padding: 8px;
    }
}