// Landing
.landing {
    width: 100%;
    height: 1024px;
    background-image: url(img/page-headline.png);
    background-size: cover;
    position: relative;
}

.branding {
    width: 336px;
    margin: auto;
    position: absolute;
    top: 39px;
    left: 0;
    right: 51px;
}

.branding--mobile {
    height: auto;
    width: 130px;
    max-width: calc(90vw - 75px);
    position: absolute;
    top: 20px;
    left: 20px;

    > img {
        width: inherit;
        height: auto;
    }
}

.menu {
    position: absolute;
    top: 60px;
    right: 51px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        transition: 0.3s all;
    }
}

.menu__button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    transition: 0.3s all;

    &:hover {
        cursor: pointer;
    }
}

.menu__button--mobile {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}

.page-headline {
    width: 750px;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: auto;
}

.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 73px;
    height: 73px;
    margin: auto;
}

.grid-item-nieuws {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item__category-container {
    margin: 26px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item__image {
    max-width: 100%;
    height: 270px;
    height: auto;
    overflow: hidden;
}

.grid-item-nieuws__container {
    margin-top: -15px;

}

.grid-item-nieuws__button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.grid-item-nieuws {
    background-image: url(img/item/item-image-nieuws.png);
}

// Load 2x image for retina screens
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    .landing {
        background-image: url(img/page-headline@2x.png); 
    }
    .grid-item-nieuws {
        background-image: url(img/item/item-image-nieuws@2x.png);
    }
}