// Landing
.landing {
    width: 100%;
    height: 1024px;
    background-image: url(img/page-headline.png);
    background-size: cover;
    position: relative;
}
// Load 2x image for retina screens
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    .landing {
        background-image: url(img/page-headline@2x.png); 
    }
}

.branding {
    width: 336px;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

.branding--mobile {
    height: auto;
    width: 130px;
    max-width: calc(90vw - 75px);
    position: absolute;
    top: 20px;
    left: 20px;

    > img {
        width: inherit;
        height: auto;
    }
}

.menu {
    float: right;
    line-height: 50px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-left: 20px;

    &:hover {
        cursor: pointer;
    }
}

.menu__button--mobile {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}

.page-headline {
    width: 750px;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: auto;
}

.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 73px;
    height: 73px;
    margin: auto;
}