// Sets background for the website
body {
    background: $background;
}

// Hide classes
@media (min-width: $tablet){
    .hide-desktop {
        display: none;
    }
}
@media (min-width: $mobile) and (max-width: $tablet - 1 ){
    .hide-tablet {
        display: none;
    }
}
@media (max-width: $mobile){
    .hide-mobile {
        display: none;
        img {
            display: none;
        }
    }
}

// Some general stuff
.ml-auto {
    margin-left: auto;
}