.navigation {
    background: $black;
    width: 300px;
    position: fixed;
    //z-index: 100;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    transition: all 0.3s ease;
    right: -300px;
}

.navigation--opened {
    right: 0px !important;
}

.navigation__list {
    list-style: none;
    padding: 29px 0 25px 0;
}

.navigation__list-item{
    margin: 32px 0;
    padding: 0 41px;

    a {
        width: 100%;
        display: block;
    }
}

.navigation__list-item-vacature {
    float: right;
    margin-top: 12px;
}

.navigation__separator {
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.2)
}

.follow-block {
    margin: 51px 45px 40px 40px;
}

.follow-us__socials {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mobile-menu-close-button {
    float: right;
    margin: 20px;
}